body {
  margin: 0
}

header {
  display: block;
  margin: 20px auto;

}
h1 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 60px;
  color: #999;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

article {
  width: 60%;
  margin: 0;
  padding: 60px 0;
  float: left;
  background-color: #e8e8e8;

}

h2 {
  width: 200px;
  margin: 0 auto;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  border-bottom-style: solid;
  border-bottom-width: thin;

}


p {
  font-family: 'Kreon', serif;
  font-weight: bold;
  font-size: 20px;
  width: 550px;
  margin: 15px 5%;
  display: block;
}

strong {
  font-size: 40px;
}
a {
  text-decoration: none;
  color: black;
}

a :hover {
  color: #808080;
}

.answer {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 200px;
  text-align: center;
  width: 320px;
  display: block;
  margin: 0 auto;
}
